/********************/
/****** Tweets ******/
/********************/
.fx-tweets {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;

    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;

    -ms-align-items: center;
    align-items: center;

    justify-content: space-between;

    margin: 16px 0;

    font-family: 'Helvetica Neue', sans-serif;
}

.fx-tweets .fx-tweet a {
    font-weight: normal;
    text-transform: none;
    letter-spacing: normal;

    cursor: pointer;
}

.fx-tweets .fx-tweet svg {
    height: 100%;
    width: 100%;
}

/********************/
/****** Tweet *******/
/********************/
.fx-tweet {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;

    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;

    margin-bottom: 16px;
    padding: 16px;

    width: 500px;

    background-color: #fff;
    border: 1px solid #aab8c2;
    border-radius: 4px;
}

.fx-tweet:last-of-type {
    margin-bottom: 0;
}

/********************/
/****** Image *******/
/********************/
.fx-tweet-image {
    margin-bottom: 16px;
    height: 500px;
    background-size: cover;
    background-position: center center;
}

/********************/
/*** Retweet text ***/
/********************/
.fx-retweet-text {
    display: flex;
    -ms-align-items: center;
    align-items: center;

    margin-bottom: 10px;

    color: #aab8c2;
    font-size: 12px;
}

.fx-retweet-text .retweet-icon {
    margin-right: 5px;
    height: 16px;
    width: 16px;
}

.fx-retweet-text a {
    color: #aab8c2;
    transition: opacity .3s ease-in-out;
}

.fx-retweet-text a:hover {
    color: #aab8c2;
    opacity: .7;
}

.fx-retweet-text svg {
    fill: #aab8c2;
}

.fx-retweet-text span {
    margin-left: 5px;
}

/********************/
/****** Header ******/
/********************/
.fx-tweet-header {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;

    -ms-align-items: center;
    align-items: center;

    justify-content: space-between;
}

/* User */
.fx-tweet-user {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;

    -ms-align-items: center;
    align-items: center;
}

/* Avatar */
.fx-tweet-avatar {
    margin-right: 10px;
    border-radius: 5px;
    overflow: hidden;
}

/* Full name */
.fx-tweet-full-name {
    margin-bottom: 0;

    color: #000;
    font-size: 18px;
    font-weight: 500;
    font-family: 'Helvetica Neue', sans-serif;

}

/* Screen name */
.fx-tweet-screen-name {
    font-size: 12px;

    color: #aab8c2;
}

/* Twitter-logo */
.fx-tweet-twitter-logo {
    height: 48px;
    width: 48px;
}

/********************/
/******* Body *******/
/********************/
.fx-tweet-body {
    margin: 16px 0;

    font-size: 16px;
}

.fx-tweet-body p {
    line-height: 1.2;
}

.fx-tweet-body p a {
    color: #1DA1F2;
}

/********************/
/****** Footer ******/
/********************/
.fx-tweet-twitter {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;

    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
}

.fx-tweet-footer .fx-tweet-timestamp {
    display: block;
    margin-bottom: 4px;

    color: #aab8c2;
    font-size: 12px;
}

/* Tweet actions */
.fx-tweet-actions {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;

    -webkit-flex-wrap: nowrap;
    -moz-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    -o-flex-wrap: nowrap;
    flex-wrap: nowrap;

    margin-bottom: 0;
}

.fx-tweet-action {
    height: 20px;
    width: 20px;

    margin-right: 20px;
}

.fx-tweet-action svg {
    fill: #aab8c2;
    transition: fill .3s ease-in-out, opacity .3s ease-in-out;
}

.fx-tweet-action.reply:hover svg {
    opacity: .5;
}

.fx-tweet-action.retweet:hover svg {
    fill: #19cf86;
}

.fx-tweet-action.like:hover svg {
    fill: #e81c4f;
}

/********************/
/**** Responsive ****/
/********************/
@media (max-width: 768px) {
    .fx-tweet {
        width: 325px;
    }

    .fx-tweet-image {
        height: 325px;
    }
}